<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">-->

<!--        <div class="form-group">-->
<!--          <label for="Firstname" class="fa fa-user"></label>-->
<!--          <input type="text" id="firstname" placeholder="Enter Your Name" formControlName="firstname">-->
<!--          <span class="text-danger" *ngIf="inscriptionForm.controls.firstname.errors && inscriptionForm.controls.firstname.touched">-->
<!--                        <br>Firstname is Required-->
<!--                    </span>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="lastname" class="fa fa-user"></label>-->
<!--          <input type="text" id="lastname" placeholder="Enter Your Name" formControlName="lastname">-->
<!--            <span class="text-danger" *ngIf="inscriptionForm.controls.lastname.errors && inscriptionForm.controls.lastname.touched">-->
<!--                          <br>Lastname is Required-->
<!--            </span>-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--          <label for="email" class="fa fa-envelope"></label>-->
<!--          <input type="email" placeholder="Email Address" id="email" formControlName="email">-->
<!--          <span class="text-danger" *ngIf="inscriptionForm.controls.email.errors && inscriptionForm.controls.email.touched">-->
<!--                        <br>Invalid Email Address-->
<!--                    </span>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="password" class="fa fa-lock"></label>-->
<!--          <input type="password" placeholder="Password" id="password" formControlName="password">-->
<!--          <span class="text-danger" *ngIf="inscriptionForm.controls.password.errors && inscriptionForm.controls.password.touched">-->
<!--                        <br>Atleast 8 character Password is Required-->
<!--                    </span>-->
<!--        </div>-->

<!--        <div class="text-center">-->
<!--          <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!inscriptionForm.valid">-->
<!--            Inscrire-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="text-success" *ngIf="successMessage">-->
<!--          {{inscriptionForm.value.email}} mailId is {{successMessage}}-->
<!--        </div>-->

<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
