  <div class="container my-container">
    <div class="card justify-content-md-center">
      <div class="card-header text-center">
      <h3> S'inscrire</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <input type="nom" class="form-control"  placeholder="nom">
        </div>
        <div class="mb-3">
          <input type="prenom" class="form-control"  placeholder="prenom">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control"  placeholder="email">
        </div>
        <div class="mb-3">
          <input type="tel" class="form-control"  placeholder="tel">
        </div>
        <div class="mb-3">
          <input type="adresse" class="form-control"  placeholder="adresse">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control"  placeholder="mot de passe">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control"  placeholder="confirmation mot de passe">
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <button type="button" class="btn btn-link">
            <i class="fas fa-check"></i>s'inscrire
          </button>
          <a  [routerLink]="['/login']"class="btn btn-primary">se connecter</a>
        </div>
      </div>
  </div>
  </div>
